name: Add bugs to bugs project

on:
  issues:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: self-hosted 
    steps:
      - uses: actions/add-to-project@v0.5.0
        with:
          project-url: https://github.com/users/yixi8524/projects/2
          github-token: ${{ secrets.ACTION }}
